// first extend the layout found in src/templates/layouts/main
extends ../layouts/main

// cool content goes here
block content
  
  .container
    .row
      .col-md-12
        img.logo(src="images/logo.png")
    .row
