// first extend the layout found in src/templates/layouts/main
extends ../layouts/main
include ../mixins/newsFeed

// cool content goes here
block content
  
  .row.masthead
    .col-md-12
      img.logo(src="images/logo.png")
  .row.hero
    .col-sm-12.col-md-7.hero-image
    .col-sm-12.col-md-5.nav
      h1 Welcome to the OpenTable Internal Homepage
      p Click the links to find the information you need. New to OpenTable? Visit our People & Culture Onboarding page. (We recommend that you set this as your browser’s default homepage)
      .col-xs-12.col-sm-6
        ul
          li
            a(href="https://wiki.otcorp.opentable.com:8443/dashboard.action"): .btn.arrow Wiki Home
          li  
            a(href="https://wiki.otcorp.opentable.com/browsepeople.action"): .btn.arrow People Directory
          li
            a(href="https://wiki.otcorp.opentable.com/x/UIr2"): .btn.arrow People and Culture
          li
            a(href="https://login.salesforce.com/"): .btn.arrow Sales Force
      .col-xs-12.col-sm-6
        ul
          li
            a(href="https://wiki.otcorp.opentable.com/x/0A6b"): .btn.arrow Help Desk
          li
            a(href="https://portal.adp.com/public/index.htm"): .btn.arrow ADP
          li
            a(href="http://10.0.1.27/navigation/website.asp"): .btn.arrow CHARM
          li
            a(href="http://www.opentable.com/start/home"): .btn.arrow OpenTable.com

  .row.news
    .col-md-4.col-sm-6
      .news-section
        .news-headline.blue-arrow: a(href="http://twitter.com/opentable") Recent Tweets
        .news-link 
          p 
            | <strong>OpenTable</strong> @OpenTable • Oct 6
            br
            | Get over the hump with San Diego Restaurant Week$10, $15, or $20 lunches + $25, $35, or $45 dinners
        .news-link 
          p 
            | <strong>OpenTable</strong> @OpenTable • Oct 6
            br
            | Get over the hump with San Diego Restaurant Week$10, $15, or $20 lunches + $25, $35, or $45 dinners!
        .news-link
          p 
            | <strong>OpenTable</strong> @OpenTable • Oct 6
            br
            | Get over the hump with San Diego Restaurant Week$10, $15, or $20 lunches + $25, $35, or $45 dinners!
        .news-link
          p 
            | <strong>OpenTable</strong> @OpenTable • Oct 6
            br
            | Get over the hump with San Diego Restaurant Week$10, $15, or $20 lunches + $25, $35, or $45 dinners!
    .col-md-4.col-sm-6
      .col-md-12(style="padding:0")
        .news-section
          .news-headline.blue-arrow: a(href="") Recent News
          //- author is not included in rss feed, so I made the decision to omit that line
          .news-feed
      .col-md-12
    .col-md-4.col-sm-12

block scripts
  +newsFeed()