// resets and element styles

@font-face {
    font-family: 'franklin_gothic_fsbook';
    src: url('../fonts/Franklin-Gothic/FranklinGothic-Book-webfont.woff') format('woff');
}

body {
  background-color: #f7f7f7;
  font-family: 'franklin_gothic_fsbook';
}

h1 {
  font-size: 23px;
}

// utility styles/bootstrap overrides
.arrow:after {
  content: url(../images/arrow.png);
  width: 8px;
  height: 10px;
  float: right;
  margin: 1px 0 0 10px;
}

.blue-arrow:after {
  content: url(../images/blue-arrow.png);
  width: 8px;
  height: 10px;
  float: right;
  margin: 1px 0 0 10px;
}

.btn {
  border: 1px solid white;
  width:90%;
  text-align:left;
  // over-ride bootstrap button font-size
  font-size:inherit;
  white-space: normal;
}

.row {
  margin:0;
}

// Header/hero styles

.logo { 
  padding: 20px 0px; 
}

.hero {
  background: #da3743;
  color:white;
  width:100%;
  margin:0;

  .hero-image {
    background-image:url('../images/hero.png');
    background-position: center;
    background-size: cover;
    min-height:200px;

    @media (min-width:992px) {
      min-height:450px;
    }
  }

  .nav {
    padding: 10px 20px;

    .btn:hover {
      background:#fff;
      color:#da3743;
    }

    p {
      font-size:14px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0; 
      li {
        list-style-type:none;
        padding: 10px 0;

        a {
          font-size: 16px;
          color:white;
          text-decoration:none;

        }
      }
    }

  }
}

// News Section Styles

.news {
  margin: 0;
  width:99%;
  padding: 0 20px;

  a {
    color: #569fbd;
  }

  .news-section {
    margin: 40px 0px 20px;
  }

  .news-headline {
    background:white;
    font-size:16px;
    padding: 10px 16px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .news-link {
    background:white;
    padding: 18px 20px 10px;
    font-size: 14px;
    margin-top:2px;
    width:100%;
    display:inline-block;

    &:last-child {
      -webkit-border-bottom-left-radius: 6px;
      -webkit-border-bottom-right-radius: 6px;
      -moz-border-radius-bottomleft: 6px;
      -moz-border-radius-bottomright: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    span  {
      color:rgb(166, 166, 166);
    }
  }

  ul {
    list-style-type: none;
    padding:0;

    li {
      font-size: 15px;
    }
  }
}

// Footer styles

.footer {
  background: #333333;
  padding: 0 20px;
  color: #6f6f6f;

  .icon-list {
    padding: 0 0 0 18px;

    .icon {
      width:25px;
    }
  }

  .legal {
    margin-bottom:20px;
  }

  .links {
    padding:0;
  }

  a {
    color:#BBB;
    text-decoration:none;
    margin-right:10px;
  }

  hr {
    border-color: #BBB;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 40px 0px 5px;

    .heading {
      padding: 10px 18px 10px;
    }
  
    li {
      list-style-type:none;
      padding: 5px 20px;
      font-size:14px;
    }
  }

  @media (max-width:480px){
    .more-links {
      width:60%;
    }

    .social-links {
      width:100%;
      text-align:center;

      .icon-list {
        padding:0;
      }
    }
  }
}



